body{
  margin: 0;
  background-image: url(image-2.jpg);
  background-size: cover;
  text-align: justify;
  color:#464f41;
}
h1{
  background:linear-gradient(black,#91c788);
  border-bottom: dotted 4px;
  text-shadow: 0 0 2px black;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom:10px;
  font-family:Comfortaa;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}
p{
  text-shadow: 0 0 1px black;
  font-family: Comfortaa;
  font-weight: 300;
  text-align: justify;
  font-size: 2em;
  margin-left: 20px;
  margin-right: 20px;
}
h2{
  text-align: center;
  font-size: 2em;
  font-family: Comfortaa;
  font-weight:300;
}
ul{
  font-family: Comfortaa;
  font-weight: 300;
  font-size: 1.5em;
  font-style: oblique;
}
div{
  background:linear-gradient(#91c788,#433520);
  margin:10% 25%;
  border: 8px solid black;
}
img {
  width: 100%;
  margin-bottom: -5px;
}
